.nav {
    margin: 0 auto;
    max-width: 50rem;
}

    .big-nav {
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 1rem 0;
    }

        .nav > .big-nav > li {
            margin: 1rem 0;
        }

            .nav > .big-nav > li > a {
                font-weight: bold;
                font-size: 18px;
                padding: 0.5rem 1.5rem;
                text-transform: uppercase;
                position: relative;
                color: #222;
            }

nav > .big-nav > li > a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #222;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

nav > .big-nav > li > a:focus {
    background-color: #222;
    color: #fff;
    transition: background-color 0.3s ease-in;
}

nav > .big-nav > li > a:hover:after {
    width: 100%;
    left: 0;
}
