@media only screen and (max-width: 820px) {
    .main-body {
        display: block;
        width: 100%;
    }

    .latest-index-articles-wrapper {
        margin: 0 auto;
    }

    .popular-index-articles-wrapper {
        width: 90%;
    }

    .latest-index-articles-wrapper {
        width: 90%;
    }

    .popular-index-article-title {
        width: 10rem;
    }
}

@media only screen and (max-width: 775px) {
    .article-wrapper .article-title {
        font-size: 26px;
    }

    .article-cover-img-wrapper {
        height: 20rem;
    }

    .footer-wrapper {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (max-width: 500px) {
    .big-nav {
        display: none;
    }

    .hidden-nav {
        display: block;
    }

    .article-cover-img-wrapper {
        height: 15rem;
    }

    .custom-table-toolbar {
        display: block;
    }

    .article-wrapper .article-title {
        font-size: 22px;
    }

        .custom-table-toolbar > input {
            font-size: 20px;
        }

    .hidden-nav li a {
        font-size: 22px;
    }

    .custom-table-toolbar .custom-table-toolbar-element, .custom-table-toolbar .custom-table-select {
        display: block;
        width: 90%;
        padding: 0.5rem 0.2rem;
        text-align: center;
        margin: 1rem auto;
    }

    .custom-table-wrapper > h2.custom-table-heading {
        font-size: 50px;
    }
}
