@media only screen and (max-width: 500px) {
    .big-nav {
        display: none;
    }

    .hidden-nav {
        display: block;
    }

    .custom-table-toolbar {
        display: block;
    }

    .custom-table-toolbar > input {
        font-size: 20px;
    }

    .hidden-nav li a {
        font-size: 22px;
    }

        .custom-table-toolbar .custom-table-toolbar-element, .custom-table-toolbar .custom-table-select {
            display: block;
            width: 90%;
            padding: 0.5rem 0.2rem;
            text-align: center;
            margin: 1rem auto;
        }

    .custom-table-wrapper > h2.custom-table-heading {
        font-size: 50px;
    }
}
