<section class="footer-wrapper">
    <section class="footer-info">
        <header>
            <h2 class="footer-h2">Contacts</h2>
        </header>
        <section>
            <p>Pesho Peshov</p>
            <div>
                <a class="link-btn" href="#">+359 88 888 8888</a>
            </div>
            <div>
                <a class="link-btn" href="#">email@@email.com</a>
            </div>
        </section>
    </section>
    
    <section class="footer-info">
        <header>
            <h2 class="footer-h2">Follow me</h2>
        </header>
        <section>
            <a class="link-btn" href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="link-btn" href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a class="link-btn" href="#"><i class="fab fa-instagram-square fa-2x"></i></a>
            <a class="link-btn" href="#"><i class="fab fa-linkedin fa-2x"></i></a>
        </section>
    </section>

    <section class="footer-info">
        <header>
            <h2 class="footer-h2">Contact form</h2>
        </header>
        <section>
            Pesho Peshov
        </section>
    </section>

    <footer class="footer">Pesho Peshov - &copy; 2020 - All Rights Reserved by GMihalkov</footer>
</section>