<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewBag.Title ?? "Blog")</title>
    <script src="~/lib/jquery/jquery.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    @if (ViewBag.RegisterTabulator == true)
    {
        <link href="~/lib/tabulator/css/tabulator.min.css" rel="stylesheet" />
        <link href="~/lib/tabulator/css/tabulator_midnight.min.css" rel="stylesheet" />
    }
    
    @if (ViewBag.RegisterTrumbowygJs == true)
    {
        <link href="~/lib/Trumbowyg/ui/trumbowyg.min.css" rel="stylesheet" />
    }
</head>
<body>
    <partial name="_MenuPartial.cshtml"/>

    <main class="main">
        @RenderBody()
    </main>

    <partial name="_FooterPartial" />

    <script src="~/js/dropdown.js" type="text/javascript"></script>

    @if (ViewBag.RegisterMomentJs == true)
    {
        <script type="text/javascript" src="~/lib/moment.js/moment.min.js"></script>
    }

    @if (ViewBag.RegisterTabulator == true)
    {
        <script type="text/javascript" src="~/lib/tabulator/js/tabulator.min.js"></script>
    }
    
    @if (ViewBag.RegisterJQueryValidation == true)
    {
        <partial name="_ValidationScriptsPartial" />
    }

    @if (ViewBag.RegisterModals == true)
    {
        <script type="text/javascript" src="~/js/modal.js"></script>
        <partial name="_ModalPartial" />
    }

    @if (ViewBag.RegisterTrumbowygJs == true)
    {
        <script src="~/lib/Trumbowyg/trumbowyg.min.js"></script>
        <script src="~/lib/Trumbowyg/langs/bg.min.js"></script>
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
